section.action(data-aos="fade-up") 
	.section_in 
		.action_main 
			.action_form_w 
				.action_form_head 
					h5 Нужна помощь
					p Оставьте заявку! Мы свяжемся с вами в ближайшее время.
				form.action_form(action="/")
					+input({
						place: 'Ваше имя',
						class: 'action',
					})
					+input({
						place: 'Ваш телефон',
						class: 'action',
						type: 'tel'
					})
					+input({
						class: 'action',
						btn: true,
					})
					+policy({})
			.action_img 
				img(src="i/action.jpg", alt="")