- array = '';
header.header(class=array.header_mod) 
	.section_in 
		.header_main
			.header_logo
				a(href="/")
					img(src="i/logo.svg", alt="")
			nav.header_nav
				ul.header_nav_list 
					each item, i in ['Главная', 'Каталог', 'Услуги', 'Портфолио', 'Контакты']
						if i === 1
							li 
								a(href="#")=item
								ul.sub-menu
									each submenu in ['Мобильные шатры', 'Тенты для мобильных шатров', 'Аксессуары для шатров', 'Зонты пляжные']
										li 
											a(href="#")=submenu
						else 
							li 
								a(href="#")=item
			.header_info_w 
				.header_phone 
					a(href="tel:+7 000 000 00 00") +7 000 000 00 00
				+btn({
					name: 'Заказать звонок',
					class: 'header_call',
					target: 'form',
					trigger: 'trigger'
				})
			.burger_open.trigger(data-target="burger") 
				span 
				span 
				span 
			