extends _layout

block vars
	- array = {body_class:'light', layout_mod:'', sub_keywords:'', title_inner:'Tents - Website " Work "'}
block content_block
	+bread(['Главная', 'Услуги'], 'Аренда шатров')
	section.singleService_hero 
		.singleService_banner 
			img(src="i/single.jpg", alt="")
		.section_in 
			.singleService_heroMain(data-aos="fade-up") 
				h1 Аренда шатров
				span от 20 000 руб.
				p Профессиональное и качественное воплощение идей наших клиентов, создание качественных шатров, тентов и мембранных конструкций.
				+btn({
					name: 'Заказать услугу',
					class: 'btn_arr'
				})

	section.singleService(data-aos="fade-up")
		.section_in
			+seo({class: 'm15'})
			.singleService_gallery 
				h5 Фотогалерея
				ul.singleService_grid
					-for(i = 0;  i < 3; i++)
						- let srcGallery = 'i/singleGallery_' + i + '.jpg'
							li 
								a(href=srcGallery data-fancybox)
									img(src=srcGallery alt="")
				+btn({
						name: 'Показать больше',
						class: 'btn_arr arr_dir_bottom loadmore_gallery'
					})
	include interface/action
	section.other(data-aos="fade-up") 
		.section_in 
			.other_main
				.gallery_head 
					.gallery_title 
						h4 Другие услуги
					.gallery_nav(class=`other_nav`) 
						.gallery_nav_btn(class=`other_nav_prev`)
							+icon('prev')
						.gallery_nav_btn(class=`other_nav_next`)
							+icon('prev')
				.other_slider_w.service_slider_mod 
					.other_slider.swiper 
						.swiper-wrapper
							-for(i = 0; i < 12; i++) 
								.swiper-slide 
									.products_item 
										a(href="#")
											.products_item_img 
												img(src="i/products.jpg", alt="")
											.products_item_content
												h3 Шатер для свадьбы 209
						.gallery_bottomNav 
							.other_scrollbar.gallery_scrollbar 
							.other_pagination.gallery_pagination