// Global 
$header: 7.7rem;
$footer: 38.7rem;

// Mobile
$header_mob: 6.7rem;
$footer_mob: 10rem;

//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Manrope-Light', sans-serif;
$font_2: 'Manrope-Medium', sans-serif;
$font_3: 'Manrope-Semibold', serif;

$font_size_base: 2rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$dark: #000F28;
$dark-light: #122341;
$trans: transparent;



$color_text_base: $white;
$color_link_base: $white;
$body_bg: $dark;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100,
	el: -1,
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 152rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 2.4rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms

$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $dark;
$input_placeholder_color: rgba($dark, .5);
$input_text_color: $dark;

//---------------------------------------------forms###

// Margin

$m10: 10rem;
$m15: 15rem;


